.button {
    width: 320px;
    margin-top: 20px;
    height: 45px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
    color: white;
    font-size: 16px;
}